### Prepare train and test data for linear regression

In [23]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_csv("insurance.csv")

In [25]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [26]:
coded_cat = {"sex": {"male": 0, "female": 1},
             "smoker": {"no": 0, "yes": 1}}
data_coded = data.replace(coded_cat)

In [27]:
data_prep = pd.get_dummies(data_coded, columns = ['region'], dtype = int)

In [28]:
data_prep.head()

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0

In [29]:
X = data_prep.charges
y = data_prep.loc[:, data_prep.columns != 'charges']
from sklearn.model_selection import train_test_split
data_train, data_test, y_train, y_test = train_test_split(X.values, y.values, 
                                                    train_size=0.8,
                                                    random_state=42)

In [30]:
np.savetxt('X_insurance_train.csv', data_train, fmt='%1.3f')
np.savetxt('Y_insurance_train.csv', y_train, fmt='%1.3f')
np.savetxt('X_insurance_test.csv', data_test, fmt='%1.3f')
np.savetxt('Y_insurance_test.csv', y_test, fmt='%1.3f')